.footer {
  position: relative;

  &-background-left {
    margin-right: auto;
    width: 50%;
    height: 30rem;

    img {
      width: 100%;
      height: inherit;
      object-fit: cover;
    }
  }

  &-main {
    @include flex();
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    left: 0;
    right: 0;
    z-index: 1;
  }

  &-column {
    width: 50%;
    padding: 0 1.6rem;

    &-right {
      @include flex(space-around, center, nowrap);
      gap: 1.6rem 0;
    }
  }

  &-heading {
    color: $white;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &-desc {
    color: $white;
    font-size: 1.4rem;
    text-align: center;
    width: 55%;
    margin: 0 auto;
    margin-bottom: 3rem;
    line-height: 2;
  }

  &-form {
    text-align: center;

    .form-control {
      padding: 1.8rem 2.6rem;
      font-size: 1.4rem;
      color: #9c9c9a;
      width: 40rem;
      border: none;
    }
  }

  &-bottom {
    height: 5rem;
    background-color: #000;
    @include flex(space-around, center);

    &-copyright {
      color: $white;
    }

    &-card {
      @include flex;
      gap: 0 1rem;
    }
  }

  @media (max-width: 1024px) {
    &-heading {
      font-size: 2rem;
    }

    &-desc {
      width: 80%;
    }

    &-form {
      .form-control {
        padding: 1rem 2rem;

        width: 60%;
      }
    }

    &-column {
      &-right {
        img {
          width: 100%;
        }
      }

      &-item {
        width: 20%;
      }
    }
  }

  @media (max-width: 768px) {
    &-form {
      .form-control {
        width: 100%;
      }
    }

    &-heading {
      width: 100%;
    }

    &-desc {
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    &-background-left {
      height: 36rem;
    }

    &-form {
      .form-control {
        padding: 1rem 2rem;
        width: 100%;
      }
    }

    &-column {
      padding-right: 1.6rem;
      padding-left: 1.6rem;
      &-right {
        flex-wrap: wrap;

        img {
          width: 100%;
        }
      }

      &-item {
        width: 50%;
        padding: 3.2rem;
      }
    }

    &-bottom {
      gap: 1.6rem 0;
      padding: 1.6rem 0;
      height: auto;
    }
  }

  @media (max-width: 414px) {
    &-background-left {
      // height: auto;
      // width: 100%;
      // // margin-bottom: 3rem;
      // position: absolute;
      // z-index: -1;
      // top: 0;
      // // bottom: 0;

      // img {
      //   height: 100%;
      // }
      display: none;
    }
    &-main {
      // top: 50%;
      // transform: translateY(-75%);
      position: static;
      flex-direction: column;
      transform: none;
      margin: 0 -1.6rem;
    }

    &-column {
      width: 100%;
      // height: 30rem;
      // @include flex(center, center);

      &-right {
        // display: none;
        flex-wrap: nowrap;
      }

      &-item {
        padding: 1.6rem;
        height: 100%;
      }

      &:first-child {
        background-image: url("../images/footer/footer_background.jpg");
        padding-top: 2.6rem;
        padding-bottom: 2.6rem;
      }
    }

    &-bottom {
      text-align: center;

      &-copyright {
        line-height: 1.5;
      }
    }
  }
}
