*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MYRIADPRO-REGULAR.OTF");
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Myriad Pro", sans-serif;
  line-height: 1;
  color: #333333;
  max-width: 192rem;
  margin: 0 auto;
}

.container {
  max-width: 181rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: uppercase;
  padding: 3.6rem 0;
}
.header-logo {
  font-size: 2.4rem;
  font-weight: bold;
  color: #3cb878;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 5rem;
}
.header-nav a {
  font-size: 1.6rem;
  color: #3f4853;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  will-change: color;
}
.header-nav a:hover {
  color: #3cb878;
}
.header-nav .nav-link-active {
  color: #3cb878;
}
.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 2.6rem;
}
.header-right-item {
  display: inline-block;
}
.header-right .header-cart {
  position: relative;
}
.header-right .header-cart::before {
  content: "3";
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2.4rem;
  border-radius: 50%;
  background-color: #3cb878;
  display: block;
  position: absolute;
  color: #ffffff;
  top: -1.6rem;
  right: -1.2rem;
}

.hero {
  position: relative;
  margin-bottom: 10rem;
}
.hero-image img {
  width: inherit;
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 12%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.hero-content h2 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.hero-content .hero-heading {
  color: #3cb878;
}

.best-seller {
  margin-bottom: 10rem;
}
.best-seller-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 1.6rem;
}
.best-seller-text {
  width: calc(20% - 1.6rem);
}
.best-seller-heading {
  font-size: 3rem;
  font-weight: normal;
  text-transform: uppercase;
}
.best-seller-sub-heading {
  color: #3cb878;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 3.2rem;
}
.best-seller-desc {
  line-height: 2.4rem;
}
.best-seller-products {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 1.6rem;
}
.best-seller-item {
  width: calc(25% - 1.6rem);
  position: relative;
  cursor: pointer;
}
.best-seller-item:hover .best-seller-item-feature {
  -webkit-animation: moveInLeft 0.5s linear 0s forwards;
          animation: moveInLeft 0.5s linear 0s forwards;
}
.best-seller-item-name {
  margin-top: 2.2rem;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: bold;
}
.best-seller-item-price {
  color: #3cb878;
  font-size: 1.8rem;
}
.best-seller-item-feature {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transform: translateY(-10000px);
          transform: translateY(-10000px);
}
@-webkit-keyframes moveInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10000px);
            transform: translateY(-10000px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes moveInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10000px);
            transform: translateY(-10000px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.best-seller-item-feature a {
  display: block;
  padding: 1.2rem 1rem;
  background-color: #3cb878;
  margin: 1rem 0;
}
.best-seller-item-feature a:hover {
  opacity: 0.8;
}